.box1 {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: orange;
}
.box2 {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: yellowgreen;
}
.box3 {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: pink;
}